@page
@model IndexModel
@{
        ViewData["Title"] = "Home page";
        List<CPU> cpus = new List<CPU> {
        new CPU(
                vendorID: "GenuineIntel",
                family: 6,
                model: 42,
                modelName: "Intel(R) Core(TM) i5-2400 CPU @ 3.10GHz",
                MHz: 3093,
                cacheSizeKb: 6144,
                flags: new [] { "fpu", "vme", "de", "pse", "tsc", "msr", "pae", "mce", "cx8", "apic", "sep", "mtrr", "pge", "mca", "cmov", "pat", "pse36", "clflush", "dts", "acpi", "mmx", "fxsr", "sse", "sse2", "ss", "ht", "tm", "pbe", "pni", "dtes64", "monitor", "ds_cpl", "vmx", "smx", "est", "tm2", "ssse3", "cx16", "xtpr", "pdcm", "sse4_1", "sse4_2", "x2apic", "popcnt", "aes", "xsave", "osxsave", "avx", "lahf_lm", "ida", "arat", "epb", "xsaveopt", "pln", "pts", "dtherm" }
                )
        };
        List<HDD> hdds = new List<HDD>
        {
            new HDD(
                modelNumber: "WDC WD10JPCX-24UE4T0",
                serialNumber: "WD-WXR1E24A7U0E",
                firmwareRevision: "01.01A01",
                capacityBytes: 250059350016,
                sectorSizeBytes: 512
            )
        };
        Server server = new Server(
            rAMMb: 8266800,
            cPUs: cpus,
            hDDs: hdds
        );
}

<div class="row">
    <h1>Admin admin</h1>
    <div class="row">
        @Html.Raw(server)
    </div>
</div>
